<div class="page">
  <br />
  <h1>Guide Companies</h1>

  <div class="trips-container">
    <%@comps.each do |comp|%>
      <div class="trip-card"><br />
        <h4><%=link_to comp.guide_comp_name, guide_comp_path(comp.id)%></h4>
        <br />
      </div>
    <%end%>
  </div>

  <br>
  <br>
  <%=button_to 'Back to Trips Page', trips_path, {method: :get}%>
</div>
